# Dependencies
node_modules
npm-debug.log*

# Build output
dist

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Documentation
*.md
!README.md

# Test files
**/*.spec.ts
**/*.test.ts
coverage
